* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form > div {
  position: relative;
}

.autocomplete {
  position: absolute;
  left: -3px;
  right: -3px;
  top: 100%;
  margin-top: -20px;
  background: #fff;
  z-index: 1;
  padding: 6px 3px 0;
}
